@model Order_Web.Models.Customer

@{ 
    var title = "Create Customer";
}


<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
        
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
            title = "Edit Customer";
        }
        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FirstName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="LastName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="DateAdded"></label>
                </div>
                <div class="col-8">
                    @{
                        var dateAdd = "";
                        if (Model.Id != 0)
                        {
                            dateAdd = Model.DateAdded.ToShortDateString();
                        }
                     }
                    <input id="datepicker" value="@dateAdd" type="text" asp-for="@Model.DateAdded" class="form-control" />
                    
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Phone"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.Id != 0 ? "Update" : "Create")
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>

        <div class="col-4 text-right" style="width:250px;">
            
        </div>
    </div>

</form>

@section scripts {
<script>
    $(function () {
        $('#datepicker').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "1500:2022"
        }).val();
    });
</script>
}

